.post-body {
  word-wrap();
  font-family: $font-family-posts;

  +desktop-large() {
    font-size: $font-size-large;
  }

  +mobile() {
    font-size: $font-size-small;
  }

  span.exturl .fa {
    font-size: $font-size-small;
    margin-left: 4px;
  }

  .image-caption, .figure .caption {
    color: $grey-dark;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    margin: -20px auto 15px;
    text-align: center;
  }
  .container {
    width: 100%;
  }

  .links {
    list-style: none;
  }

  .link {
    margin: 10px;
    display: inline-block;
  }

  .card {
    height: 72px;
    width: 300px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow .25s cubic-bezier(.4,0,.2,1);
  }

  .card:hover {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
  }

  .avatar {
    float: left;
    height: 72px;
    width: 72px;
  }

  img {
    height: 100%;
    width: 100%;
  }

  .titles {
    overflow: hidden;
    height: 72px;
    width: 227px;
    margin-left: 72px;
  }

  .title{
    text-align: center;
    height: 20px;
    width: 100%;
    margin: 0;
    line-height: 20px;
    margin-top: 14px;
  }

  .subtitle {
    text-align: center;
    height: 20px;
    width: 100%;
    margin: 0;
    line-height: 20px;
  }

  small {
    width: 100%;
  }
}

.post-sticky-flag {
  display: inline-block;
  transform: rotate(30deg);
}

.use-motion {
  if (hexo-config('motion.transition.post_block')) {
    .post-block, .pagination, .comments {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.post_header')) {
    .post-header {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.post_body')) {
    .post-body {
      opacity: 0;
    }
  }

  if (hexo-config('motion.transition.coll_header')) {
    .collection-header {
      opacity: 0;
    }
  }
}

@import 'post-button';
@import 'post-collapse';
@import 'post-eof';
@import 'post-expand';
@import 'post-gallery';
@import 'post-meta';
@import 'post-nav';
@import 'post-rtl';
@import 'post-tags';
@import 'post-title';
@import 'post-widgets';

@import 'post-reward' if (hexo-config('reward_settings.enable'));

@import 'post-copyright' if (hexo-config('creative_commons.post'));
