//------------------------------------------------------------------------------
//colorful icons
//------------------------------------------------------------------------------
svg.icon {
    width: 1.5em !important;
    height: 1.5em !important;
    vertical-align: -0.4em;
    fill: currentColor;
    overflow: hidden
}